<header class="header-container">
  <div class="header">
    <img
      class="logo"
      src="icons/logo.svg"
      alt="Logo da FinCofre"
      (click)="backToHome()"
    />
    <div class="user-options">
      <app-button type="secondary" class="btn-log-out" (clicked)="userLogout()">
        <img src="icons/log-out.svg" alt="" />
        Sair
      </app-button>
      <div class="user">
        <img src="icons/user.svg" alt="" />
        Gabriel Stênio
      </div>
    </div>
  </div>
</header>
