.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-content {
  background: var(--color-light);
  border: 1px solid var(--color-gray-200);
  max-width: 21.75rem;

  border-radius: 0.625rem;
  padding: 1.5rem;
}
