.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-family: sans-serif;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;

  position: relative;
  margin-right: 8px;

  border: 2px solid var(--color-gray-200);
  border-radius: 3px;
  transition: all 0.2s ease;
}

.checkbox-container input[type="checkbox"]:checked + .custom-checkbox {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 1.33px 1.33px 0;
  opacity: 0;
  transform: rotate(45deg);
  transition: opacity 0.2s ease;
}

.checkbox-container input[type="checkbox"]:checked + .custom-checkbox::after {
  opacity: 1;
}
