<div class="form-wrapper">
  <p>{{ formConfig.title }}</p>
  <span>{{ formConfig.highlight }}</span>

  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <app-form-fields [form]="form" [fields]="formConfig.fields" />
    @if (inputFormGroup() === 'loginForm') {
    <div class="forgot-password">
      <a href="#">Esqueceu a senha? Clique aqui</a>
    </div>
    }
    <div class="buttons">
      @if (formConfig.buttons) { @for (btn of formConfig.buttons; track $index;
      let last = $last) {
      <div class="button-wrapper" [class.with-border]="!last">
        <app-button [type]="btn.type">{{ btn.text }}</app-button>
      </div>
      } }
    </div>
  </form>
</div>
