@if (formConfig) {
<main class="main-container">
  <div class="main-content">
    <app-title
      [value]="{ text: formConfig.title, highlight: formConfig.highlight }"
    />

    <div class="form-container">
      <div class="form-content">
        <app-subtitle
          [subtitle]="formConfig.subtitle"
          [description]="formConfig.description"
        />

        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <app-field [form]="form" [fields]="formConfig.fields" />
          @if (errorMessage()) {
          <div class="error">{{ errorMessage() }}</div>
          }
          <div class="buttons">
            @if (formConfig.buttons) { @for (btn of formConfig.buttons; track
            $index) {
            <div class="button-wrapper">
              <app-button
                [type]="btn.type"
                [routerLink]="btn.link"
                [nativeType]="btn.text === 'Voltar' ? 'button' : 'submit'"
                (clicked)="onButtonClick(btn)"
              >
                @if (btn.icon) {
                <img [src]="btn.icon" alt="" />
                }
                {{ btn.text }}
              </app-button>
            </div>
            } }
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
}
