.header {
  width: var(--w-container);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  display: flex;
  justify-content: space-between;
}

.user-options {
  display: flex;
  align-items: center;
}

.btn-log-out {
  padding-right: 1.5rem;
  border-right: 1px solid var(--color-gray-200);
}

.user {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding-left: 1.5rem;
}
