#select-content {
  position: relative;
}

#select-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.1875rem;

  background: var(--color-light);
  padding-right: 0.75rem;
  padding-left: 0.5rem;
  border: 1px solid var(--color-gray-200);

  border-radius: 0.375rem;
}

#selected-value {
  font-size: var(--font-size-sm);
  font-weight: var(--font-regular);
  color: var(--color-gray-300);
}

#chevron-up {
  display: none;
}

#options-view-button:focus + #select-button,
#options-view-button:checked + #selected-button {
  outline: 2px solid var(--color-blue);
}

#options-view-button:checked + #select-button #chevron-down {
  display: none;
}

#options-view-button:checked + #select-button #chevron-up {
  display: inline-block;
}

#options-view-button {
  all: unset;
  position: absolute;
  inset: 0;

  cursor: pointer;
  z-index: 3;
}

.options {
  margin-top: 0.25rem;
  border-radius: 0.375rem;
  border: 1px solid var(--color-gray-200);
  display: none;
}

.option {
  display: flex;
  align-items: center;

  position: relative;
  padding: 0.5rem 0.75rem;

  border-bottom: 1px solid var(--color-gray-200);
}

.option:first-child {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.option:last-child {
  border: none;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.option svg {
  margin-left: auto;
  display: none;
}

.option:has(input:checked),
.option:hover {
  background-color: var(--color-gray-100);
}

.option:has(input:checked) svg {
  display: block;
}

.option:has(input:focus) {
  outline: 2px solid var(--color-blue);
}

.option input[type="radio"] {
  all: unset;

  position: absolute;
  inset: 0;

  cursor: pointer;
}

#select-content:has(#options-view-button:checked) + .options {
  display: block;
}
