<div class="select">
  <div id="select-content">
    <label for="options-view-button"> Categoria </label>
    <input type="checkbox" id="options-view-button" />

    <div id="select-button">
      <div id="selected-value">Selecione o status</div>

      <div id="chevrons">
        <img id="chevron-down" src="icons/chevron-down.svg" alt="" />
        <img id="chevron-up" src="icons/chevron-up.svg" alt="" />
      </div>
    </div>
  </div>

  <ul class="options">
    @for (pill of pillList; track $index) {
    <li class="option">
      <input
        type="radio"
        name="status"
        [value]="pill.type"
        [attr.data-label]="pill.text"
      />
      <app-pill [props]="pill" />
      <svg
        width="15"
        height="15"
        viewBox="0 0 16 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13.3334 4.5L6.00008 11.8333L2.66675 8.5"
          stroke="#2D7DD4"
          stroke-width="1.33"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </li>
    }
  </ul>
</div>
