@for (field of fields(); track $index) {
<div class="field" [formGroup]="form()">
  <label for="label-form">{{ field.label }}</label>
  <div class="custom-input">
    <input
      [id]="field.formControlName"
      [type]="field.type"
      class="input-form"
      [ngClass]="field.type === 'date' ? 'custom-date' : ''"
      [formControlName]="field.formControlName"
      [placeholder]="field.placeholder || ''"
    />
    @if (field.icon?.trim()) {
    <img
      [ngClass]="field.type === 'date' ? 'custom-date' : ''"
      [src]="field.icon"
      alt=""
    />
    }
  </div>
</div>
}
