@for (field of fields(); track $index) {
<div class="field" [formGroup]="form()">
  <label for="label-form">{{ field.label }}</label>
  <div class="custom-input">
    @if (field.type !== 'select') {
    <input
      [id]="field.formControlName"
      [type]="field.type"
      class="input-form"
      [ngClass]="field.type !== 'text' ? 'custom' : ''"
      [formControlName]="field.formControlName"
      [placeholder]="field.placeholder || ''"
    />
    } @else {
    <select
      [id]="field.formControlName"
      [formControlName]="field.formControlName"
      class="input-form select"
    >
      <option value="" disabled selected>Escolha o status</option>
      @for (status of field.options; track $index) {
      <option [value]="status.value">{{ status.label }}</option>
      }
    </select>
    } @if (field.icon?.trim()) {
    <img
      [ngClass]="field.type !== 'text' ? 'custom-icon' : ''"
      [src]="field.icon"
      alt=""
    />
    }
  </div>
</div>
}
