<div role="rowgroup">
  @for (s of spents; track trackById(s.id, s)) {
  <div role="row" class="table-row">
    <div role="cell">
      <app-checkbox />
    </div>
    <div class="cell" role="cell">{{ s.date }}</div>
    <div class="cell" role="cell">{{ s.spent }}</div>
    <div class="cell" role="cell">{{ StatusLabel[s.status] }}</div>
    <div class="cell" role="cell">
      {{ s.value | currency : "BRL" : "symbol" : "1.2-2" : "pt-BR" }}
    </div>
    <div class="cell" role="cell">{{ CategoryLabel[s.category] }}</div>
    <div class="cell" role="cell">{{ s.account }}</div>
    <div class="cell" role="cell">{{ TypeLabel[s.type] }}</div>
    <div class="cell" role="cell">{{ MethodLabel[s.method] }}</div>
  </div>
  }
</div>
