@if (spents()?.length === 0) {
<div role="rowgroup" class="no-spents">
  <p>
    Não foram encontrados gastos adicionados. Clique no botão abaixo e adicione
    o seu primeiro gasto
  </p>
  <div>
    <app-button type="primary" (clicked)="addsNewSpent()">
      <img src="icons/plus-circle.svg" alt="" />
      Adicionar novo gasto
    </app-button>
  </div>
</div>
} @else {
<div role="rowgroup">
  @for (s of spents(); track trackById(s)) {
  <div role="row" class="table-row">
    <div role="cell">
      <app-checkbox [data]="s" />
    </div>
    <div class="cell" role="cell">{{ s.date }}</div>
    <div class="cell" role="cell">{{ s.spent }}</div>
    <div class="cell" role="cell">
      <app-pill [props]="PillStatusConfig[s.status]" />
    </div>
    <div class="cell" role="cell">
      {{ s.value | currency : "BRL" : "symbol" : "1.2-2" : "pt-BR" }}
    </div>
    <div class="cell" role="cell">{{ CategoryLabel[s.category] }}</div>
    <div class="cell" role="cell">{{ s.account }}</div>
    <div class="cell" role="cell">{{ TypeLabel[s.type] }}</div>
    <div class="cell" role="cell">
      <app-payment-method [props]="PillMethodConfig[s.method]" />
    </div>
  </div>
  }
</div>
}
