.root {
  width: 100%;
  height: auto;

  font-family: var(--font-body);
  font-weight: var(--font-semibold);
  font-size: var(--font-size-sm);

  background: var(--color-gray-100);
}

.main-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.main-content {
  width: var(--w-container);
  position: relative;
}
