<div class="toast">
  <span class="total-text"
    >Total selecionado(s):
    {{ total() | currency : "BRL" : "symbol" : "1.2-2" : "pt-BR" }}</span
  >

  <div>
    <span>{{ quantity() }} selecionado(s)</span>
    <div class="buttons">
      @if (quantity() === 1) {
      <app-button type="primary">
        <img src="icons/edit.svg" alt="" />
        Editar
      </app-button>
      }
      <app-button type="danger">
        <img src="icons/trash.svg" alt="" />
        Excluir
      </app-button>
    </div>
  </div>
</div>
