.pill {
  color: var(--color-light);
  padding: 0.375rem 0.625rem;
  border-radius: 0.25rem;
}

.billet {
  background: var(--color-red-100);
}

.credit {
  background: var(--color-yellow);
}

.debit {
  background: var(--color-blue);
}

.money {
  background: var(--color-gray-300);
}

.pix {
  background: var(--color-green);
}
