.login-container {
  display: flex;
  justify-content: center;
  background: var(--color-light);
}

.login-content {
  width: var(--w-initial-form-content);
  padding-top: 7.5rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-content img {
  align-self: center;
}
