<div class="login-container">
  <div class="login-content">
    <img src="icons/logo.svg" alt="Logo da FinCofre" />

    <!-- <div class="login-wrapper">
      <p>Controle seu dinheiro, alcance seus objetivos.</p>
      <span>Faça login na sua conta FinCofre</span>

      <div class="buttons">
        <app-button type="primary"> Entrar </app-button>
        <div class="border"></div>
        <app-button type="secondary"> Criar uma conta gratuita </app-button>
      </div>
    </div> -->

    <app-initial-form-container />
  </div>
</div>
