:root {
  /* Primitive colors */
  --color-light: #ffffff;

  --color-gray-100: #f6f7f8;
  --color-gray-200: #d8dde4;
  --color-gray-300: #6a7585;

  --color-dark-100: #334155;
  --color-dark-200: #12141a;
  --color-dark-300: #09090b;

  /* Auxiliary colors */
  --color-blue: #2d7dd4;

  --color-red-100: #a93d4a;
  --color-red-200: #b93645;

  --color-yellow: #d8932c;
  --color-green: #2ca067;

  /* Typography */
  --font-body: "Inter", sans-serif;
  --font-size-lg: 1.25rem;
  --font-size-base: 1.125rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-semibold: 600;
  --font-medium: 500;
  --font-regular: 400;

  /* Utility variables */
  --opacity-50: 0.5;
  --w-container: 67.75rem;
  --w-form-content: 24.25rem;
  --w-initial-form-content: 21.25rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  color: var(--color-dark-300);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
