.form-container {
  display: flex;
  justify-content: center;
}

.custom-background {
  width: var(--w-form-content);
  background: var(--color-light);
  padding: 1.5rem;

  border: 1px solid var(--color-gray-200);
  border-radius: 0.625rem;
}

.subtitle {
  font-size: var(--font-size-base);
  margin-bottom: 0.625rem;
}

.form-container p {
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
  font-weight: var(--font-regular);

  width: 90%;
  line-height: 1.33;
}
